#wrap {
   width:600px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:300px;
}
#right_col {
   float:right;
   width:300px;
}

.testClass{
  position:absolute;
}

.noResult{
  display:none;
}

.result{
  background-color:grey;
}

.inactive{
    color: green; /* Green */
}

.active{
      color: red; /* Green */
}

.notExisting{
  color:blue;
  pointer-events:none;
}

.existing{
  cursor:pointer;
  color:red
}